<h3>LOTTERY BETTING | Recuperar senha</h3>

<p>Olá {{ username }}, tudo bem?</p>

<p>Uma solitação de recuperação de senha foi realizada para o email: {{ email }}</p>

<p>Para continuar com a recuperação de senha, acesse o link disponibilizado abaixo:</p>

<a href="{{ link }}">Clique aqui para acessar o link</a>

<p>Se você não fez essa solicitação, ignore este email...</p>
