<h2>Nova aposta, nova chance</h2>

<p>Olá <strong>{{ username }}</strong>, tudo bem?</p>

<p>Você acaba de adquirir uma nova aposta na sua conta do Lottery Betting.</p>
<p>Segue abaixo seus novos números da sorte:</p>

<strong>Números escolhidos:</strong> {{ balls }}.
<br>
<strong>Jogo:</strong> {{ type }}.
<br>
<strong>Preço:</strong> {{ price }}.

<p>Para ver, editar ou fazer mais apostas, acesse nosso site com sua conta e pronto!</p>

<p>Atensiosamente, equipe Lottery Betting.</p>
